.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  width: 826px;
  animation-duration: 1000ms;
  margin: 302px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 371px 0 auto;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: -79px auto 0;
}

.u-section-1 .u-text-4 {
  width: 826px;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 262px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 270px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 173px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -12px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -66px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
    margin-right: -16px;
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -52px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 708px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 586px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 385px;
  height: 432px;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  filter: brightness(0.9);
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 385px;
  height: 476px;
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: -322px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 586px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 674px;
  }

  .u-section-2 .u-image-1 {
    width: 412px;
    height: 412px;
    margin-top: 109px;
  }

  .u-section-2 .u-image-2 {
    width: 337px;
    height: 417px;
    margin-top: -263px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-2 .u-image-1 {
    width: 316px;
    height: 316px;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    width: 290px;
    height: 359px;
    margin-top: -100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 863px;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 306px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -170px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -341px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 351px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-2 .u-image-1 {
    width: 280px;
    height: 295px;
  }

  .u-section-2 .u-image-2 {
    width: 280px;
    height: 365px;
    margin-top: -147px;
    margin-right: -11px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 127px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 991px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 681px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 45px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 179px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 201px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 179px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 603px;
  background-size: auto 135%;
  background-image: url("images/5e083e31a343acb37beb418f4c9b781d.jpg");
  background-position: 61.41% 20.76%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 179px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 179px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: -2px 0 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-11 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 179px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: -2px -2px 8px 0 rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, black, #ff9200);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0px;
  animation-duration: 1000ms;
  margin: 30px auto;
  padding: 20px 62px 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-3 .u-image-1 {
    min-height: 497px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1259px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 571px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 857px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2077px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-13 {
    margin-left: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 774px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 463px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-1 {
  width: 375px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-2 {
  width: 375px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-3 {
  width: 375px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  width: 700px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 0px;
  margin: 20px auto 30px;
  padding: 9px 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 360px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 220px;
}

.u-section-5 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -6px 21px -146px 0;
}

.u-section-5 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 28px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -6px 21px -146px 0;
}

.u-section-5 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 28px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: -6px 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 665px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 19px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 29px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 498px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 8px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 0;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/here_me_bg.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 261px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 56px 20px 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  margin: 20px auto 56px;
  padding: 10px 54px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 569px;
}

.u-section-7 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 45px auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-7 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/Testimonials-1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-7 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/Testimonials-2.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-7 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-slider-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
  }
}